:root {
  --primary-color: #3498db;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dark-mode {
  background-color: #000000;
  color: #ecf0f1;
}

.container {
  margin-top: 15px;
  width: 400px;
  height: min-content;
  background-color: #fff;
  border-radius: 12px;
  padding: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.dark-mode .container {
  background-color: #34495e;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  flex: 1;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  background-color: #e6f5fb;
  padding: 12px 16px;
  border-radius: 14px;
  border: none;
}

.input-box::placeholder {
  color: #000;
}
#darkModeToggle {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#darkModeToggle:hover {
  background-color: #000000;
}

.fa-magnifying-glass {
  margin-left: 10px;
  width: 46px;
  height: 46px;
  background-color: #e6f5fb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.fa-magnifying-glass:hover {
  background-color: #ababab;
  color: #fff;
}

.dark-mode .search-box input {
  color: #fff;
  background-color: #6e95bd;
}

.dark-mode .fa-magnifying-glass {
  background-color: #6e95bd;
}

.dark-mode .location-not-found h1 {
  color: #ecf0f1;
}

.dark-mode .weather-box .temperature,
.dark-mode .weather-box .description,
.dark-mode .humidity span,
.dark-mode .wind span {
  color: #ecf0f1;
}

.dark-mode .weather-details i {
  color: #ecf0f1;
}

.container {
  width: 400px;
  height: min-content;
  background-color: #fff;
  border-radius: 12px;
  padding: 28px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  width: 84%;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  background-color: #e6f5fb;
  padding: 12px 16px;
  border-radius: 14px;
}

.input-box::placeholder {
  color: #000;
}

.fa-magnifying-glass {
  width: 46px;
  height: 46px;
  background-color: #e6f5fb;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.fa-magnifying-glass:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.location-not-found {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-not-found h1 {
  font-size: 20px;
  color: #6b6b6b;
  margin-block-end: 15px;
}

.location-not-found img {
  width: 80%;
}

.weather-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  display: none;
}

.weather-body img {
  width: 60%;
}

.weather-box {
  margin-block: 20px;
  text-align: center;
}

.temperature {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}

.temperature sup {
  font-size: 20px;
  position: absolute;
  font-weight: 600;
}

.description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humidity {
  margin-left: 20px;
}

.wind {
  margin-right: 20px;
}

.weather-details i {
  font-size: 36px;
}

.weather-details .text {
  margin-left: 10px;
  font-size: 16px;
}

.text span {
  font-size: 20px;
  font-weight: 700;
}

#getCurrentLocationBtn {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#getCurrentLocationBtn:hover {
  background-color: #000000;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 17, 255);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  z-index: 1000;
}

footer p {
  margin: 0;
}
footer {
  background-color: rgb(0, 17, 255);
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
